@media (--motion) {
	.docs-nav-group {
		view-transition-name: nav;
		height: 100%;
		width: fit-content;
		scale: 1;
	}
}

::view-transition-old(nav),
::view-transition-new(nav) {
	height: 100%;
}

::view-transition-group(nav) {
	animation-duration: 0.4s;
	scale: 1;
	animation-timing-function: cubic-bezier(0.23, 1.22, 0.64, 1);
}

.hero {
  position: relative;
  margin-block: var(--space-xxl);
  font-size: clamp(3.6em, 8vw, 7em);
  line-height: 1;
  font-weight: var(--font-weight-xs);
  color: var(--color-accent);
  z-index: var(--z-2);
  display: inline-block;
}

.hero::after {
  content: "";
  position: absolute;
  left: -0.2em;
  bottom: -0.3em;
  width: max-content;
  min-width: 100%;
  height: 0.45em;
  background-image: url("/public-powered-policy/static/brush.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  opacity: 0.9;
  mask-image: linear-gradient(#000 0 0);
  mask-size: 0% 100%;
  mask-repeat: no-repeat;
  animation: brush-reveal .75s ease-out forwards;
}

@keyframes brush-reveal {
  from {
    mask-size: 0% 100%;
  }
  to {
    mask-size: 100% 100%;
  }
}

@media (--md) {
	.docs-layout {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-auto-flow: dense;
		align-items: start;
		gap: var(--space-lg);
		position: relative;
		z-index: var(--z-2);

		& > article > :first-child {
			margin-block-start: 0;
		}

		& > nav {
			grid-column: 2;
			padding-inline-start: var(--space-lg);
			border-inline-start: var(--border-width-sm) solid var(--color-border);
		}
	}
}

.grease-marks {
	inline-size: 100%;
	pointer-events: none;
	position: absolute;
	inset-inline-start: -80rem;
	z-index: -1;
	opacity: 1;
	rotate: -8deg;
	display: none;

	.js & {
		display: block;
	}

	& > * {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: 300rem;
		block-size: 300rem;
		border-width: 0;
		border-block-start-width: 10rem;
		border-style: solid;
		border-color: light-dark(
			oklch(from var(--color-accent) var(--100)),
			oklch(from var(--color-accent) var(--700) / 15%)
		);
		border-radius: 100%;
		mix-blend-mode: soft-light;

		.high-contrast & {
			display: none;
		}
	}
}

.demo-grid {
	& > div {
		padding: var(--space-sm);
		color: var(--color-text);
		background-color: var(--color-bg-dark);
		font-size: var(--font-size-sm);
	}
}

.demo-chips {
	display: flex;
	flex-wrap: wrap;
	margin-block: 0 var(--space-xs);
	list-style: none;

	& > li {
		inline-size: auto;
		flex-grow: 1;
		margin: 0;
		padding-block: var(--space-md);
		padding-inline: var(--space-sm);
		color: var(--color-text);
		background-color: var(--color-bg);
		font-size: var(--font-size-xs);
		text-align: center;

		& > span {
			color: var(--color-text);
		}
	}
}

/* "Accordions" */

.accordion-panel {
  margin-block: 1rem;
  padding: 1rem;
}

.accordion-item:not(:first-child) {
	margin-top: 1rem;
}

.accordion-toggle {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-weight: bold;
}

/* Panel styling */
.accordion-panel {
  padding: 1rem;
  border-top: none;
}

p > img {
  margin: 1rem .5rem;
}

/* Process list */

.process-list {
  list-style: none;       /* hide default ol numbers */
  padding: 0;
  margin: 0;
  counter-reset: step;    /* reset once at the list level */
}

.process-heading {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-xxl);
}

.process-item {
  position: relative;
  border-left: 0.5rem solid var(--secondary);
  padding-bottom: 2rem;
  padding-left: calc((2.5rem / 2 - 0.25rem) * 2);
}

/* keep width, hide color for last item */
.process-item:last-of-type {
  border-left-color: transparent;
}

.process-item > p {
	margin-top: .5em;
}

.accordion-panel img {
	padding-left: 2.5rem;
	padding-bottom: 1.5rem;
}

.process-item::before {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xxl);
  line-height: 1;
  counter-increment: step;       /* increment for each item */
  content: counter(step);        /* display the current count */
  position: absolute;
  left: 0;
  transform: translateX(-59%);   /* center circle on border */
  top: 0;
  margin-top: -0.5rem;  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--color-border);
  border: 4px solid var(--neutral);
}

/* Forms */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Process list button hovers */
summary.button {
	@media (--hover) {
		&:hover {
			color: var(--color-bg);
			border-color: var(--color-text);
			background-color: var(--color-accent);
			cursor: pointer;
		}	
	}
}		