{% include "head.html" %}
<body class="grid">
  <header id="header" class="grid">
    <nav class="flex no-wrap justify-between align-items-center">
      <a class="font-size-xl font-size-lg@md font-weight-xxl uppercase line-height-flush undecorated button --simple --primary pt-0 pb-0 pb-xs@md" href="/">
        <span>{{ site.title }}</span>
      </a>
      <div class="inline-flex gap-xs shrink align-items-center">
        <popover-menu>
          <button popovertarget="docs-nav-group" class="button --primary shadow-md"><span style="margin-bottom: 2px;">☰</span> Menu</button>
          <ul id="on-this-page" role="group" aria-label="main-menu" popover>
            <li class="hidden@smm"><a href="#" class="button --menu --primary">About</a></li>
            <li class="hidden@smm"><a href="#" class="button --menu --primary">Contact</a></li>
          </ul>
        </popover-menu>
        <popover-menu class="themes">
        <button popovertarget="themes-menu" aria-label="Themes" id="themes-menu-button" class="shadow-md button --fill --primary">
          {% render "svg/theme-picker.svg" %}
        </button>
        <theme-picker id="themes-menu" role="menu" aria-labelledby="themes-menu-button" popover class="anchor-right">
          <ul role="group" aria-label="Modes">
              {% for item in picker.modes %} 
                <li role="none">
                  <button class="button --menu --primary" data-type="mode" data-value="{{ item }}" role="menuitem">{{ item }}</button>
                </li>
              {% endfor %}
          </ul>
      <!--    <ul role="group" aria-label="Themes">
              {% for item in picker.themes %}
                <li role="none">
                  <button class="button --menu --primary" data-type="theme" data-value="{{ item }}" role="menuitem">{{ item }}</button>
                </li>
              {% endfor %}
          </ul>
      -->
        </theme-picker>
      </popover-menu>
      </div>
    </nav>
  </header>
  <main class="grid">
    <h1 class="hero">{{ title }}</h1>

    <section id="docs" class="docs-layout">
      <nav class="sticky@md top-md mb-lg">
        <small-details>
          <details>
            <summary class="font-size-sm font-weight-md uppercase letter-spacing-lg">What we do</summary>
            <ul class="unlisted font-size-sm font-weight-lg mt-sm">
              {%- assign toc = collections.all | eleventyNavigation: "index" -%}
              {%- for item in toc -%}
                <li>
                  <a class="button --simple" href="#{{ item.url }}">{{ item.title }}</a>
                  {%- if item.children -%}
                    <ul>
                      {%- for sub in item.children -%}
                        <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </details>
        </small-details>
      </nav>

      <article class="line-length-lg">
        {{ content }}
      </article>
    </section>
  </main>

  <footer class="grid">
    <p class="font-size-sm">&copy; Public Powered Policy</p>
  </footer>

</body>
</html>